In [105]:
import pandas as pd
import os
import csv

In [106]:
 # Get the  school files
school_info_path = os.path.join("Resources", "schools_complete.csv")

In [107]:
# Read the school files to a df

schools_df = pd.read_csv(school_info_path)
#schools_df.head()

#Clean Up Col Names

school_info_df = schools_df.rename(columns = {"name": "School Name", "type": "School Type", "size" : "Total Students", "budget" : "Total Budget"})
school_info_df

    School ID            School Name School Type  Total Students  Total Budget
0           0      Huang High School    District            2917       1910635
1           1   Figueroa High School    District            2949       1884411
2           2    Shelton High School     Charter            1761       1056600
3           3  Hernandez High School    District            4635       3022020
4           4    Griffin High School     Charter            1468        917500
5           5     Wilson High School     Charter            2283       1319574
6           6    Cabrera High School     Charter            1858       1081356
7           7     Bailey High School    District            4976       3124928
8           8     Holden High School     Charter             427        248087
9           9       Pena High School     Charter             962        585858
10         10     Wright High School     Charter            1800       1049400
11         11  Rodriguez High School    District            3999       2547363
12         12    Johnson High School    District            4761       3094650
13         13       Ford High School    District            2739       1763916
14         14     Thomas High School     Charter            1635       1043130

In [108]:
# Schools Overview
total_schools = school_info_df['School Name'].count()
total_schools

15

In [109]:
total_students = school_info_df['Total Students'].sum()
total_students

39170

In [110]:
total_budget = school_info_df['Total Budget'].sum()
total_budget

24649428

In [118]:
school_summary = pd.DataFrame(school_info_df['School Name'].count())
school_summary.columns = ["School Name"]
school_summary

ValueError: DataFrame constructor not properly called!

In [111]:
#Get the students

students_info_path = os.path.join("Resources", "students_complete.csv")

In [112]:
#read the students df

students_df = pd.read_csv(students_info_path)
students_df.head()

#Clean Up Cols

students_info_df = students_df.rename(columns = {'name': "Student Name", 
                                              "gender": "Student Gender", 
                                              "grade": "Student Grade",
                                             'school': "School Name",
                                             'reading_score': "Reading Score",
                                             'math_score': "Math Score"})

students_info_df.head()

,Student ID,Student Name,Student Gender,Student Grade,School Name,Reading Score,Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [113]:
# District Summary Students
avg_math = students_info_df["Math Score"].mean()
avg_math

78.98537145774827

In [114]:
avg_reading = students_info_df["Reading Score"].mean()
avg_reading

81.87784018381414

In [115]:
# merge the DataFrames into complete set

combined_df = pd.merge(school_info_df, students_info_df, on="School Name", how='outer')
combined_df.head()

,School ID,School Name,School Type,Total Students,Total Budget,Student ID,Student Name,Student Gender,Student Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [116]:
# Create a high level snapshot (in table form) of the district's key metrics, including:
# Total Schools
#total_schools = school_info_df.count("School Name")
#total_schools
# Total Students
# Total Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two) '''

district_summary = pd.DataFrame(students_info_df["Math Score"].mean())
district_summary.columns = ["Average Math Score"]
district_summary

ValueError: DataFrame constructor not properly called!