In [236]:
import pandas as pd
import os
import csv

In [237]:
 # Get the  school & student files
school_info_path = os.path.join("Resources", "schools_complete.csv")
students_info_path = os.path.join("Resources", "students_complete.csv")

In [238]:
# Read the school & students files to a df

schools_df = pd.read_csv(school_info_path)

#Clean Up Col Names

school_info_df = schools_df.rename(columns = {"name": "School Name", 
                                              "type": "School Type", 
                                              "size" : "Total Students", 
                                              "budget" : "Total Budget"})
school_info_df.head()

   School ID            School Name School Type  Total Students  Total Budget
0          0      Huang High School    District            2917       1910635
1          1   Figueroa High School    District            2949       1884411
2          2    Shelton High School     Charter            1761       1056600
3          3  Hernandez High School    District            4635       3022020
4          4    Griffin High School     Charter            1468        917500

In [239]:
# Schools Summary
# Schools Overview
schools_summary = [{"Total Schools":school_info_df['School Name'].count(),
                 "Total Students":school_info_df['Total Students'].sum(),
                 "Total Budget":school_info_df['Total Budget'].sum()}]
schools_summary = pd.DataFrame(schools_summary)
schools_summary = schools_summary[['Total Schools', 'Total Students', 'Total Budget']]
schools_summary

   Total Schools  Total Students  Total Budget
0             15           39170      24649428

In [240]:
#read the students df

students_df = pd.read_csv(students_info_path)
students_info_df = students_df.rename(columns = {'name': "Student Name", 
                                              "gender": "Student Gender", 
                                              "grade": "Student Grade",
                                             'school': "School Name",
                                             'reading_score': "Reading Score",
                                             'math_score': "Math Score"})

students_info_df.head()

,Student ID,Student Name,Student Gender,Student Grade,School Name,Reading Score,Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [241]:
# Combine the data
district_data = pd.merge(school_info_df, students_info_df, on="School Name", how='outer')
district_data.head()

,School ID,School Name,School Type,Total Students,Total Budget,Student ID,Student Name,Student Gender,Student Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [242]:
district_data = district_data[['School Name','School Type', "Total Students", 'Total Budget', "Student Grade", 'Reading Score', 'Math Score']]
district_data.head()

,School Name,School Type,Total Students,Total Budget,Student Grade,Reading Score,Math Score
0,Huang High School,District,2917,1910635,9th,66,79
1,Huang High School,District,2917,1910635,12th,94,61
2,Huang High School,District,2917,1910635,12th,90,60
3,Huang High School,District,2917,1910635,12th,67,58
4,Huang High School,District,2917,1910635,9th,97,84

In [243]:
# Get Student Stats to add to schools summary table

#schools_summary

#students_total = district_data["Total Students"].count()
#avg_math = students_info_df["Math Score"].mean()
#avg_reading = students_info_df["Reading Score"].mean()

students_scores = [{"Average Math Score":district_data['Math Score'].mean(),
                 "Average Reading Score":district_data["Reading Score"].mean()}]
students_scores = pd.DataFrame(students_scores)
students_scores = students_scores[['Average Math Score', 'Average Reading Score']]
print(students_scores)


# Math Scores
math_scores = district_data["Math Score"].count()
#math_scores_df = district_data.loc[(math_scores["Math Score"] > 7]
math_scores = math_scores.loc[(math_scores["Math Score"] > 70)]
passing_math_scores = math_scores['Math Score'].count()



# Math Scores
#math_scores = pd.DataFrame(district_data["Math Score"].value_counts())
#math_scores.reset_index(inplace=True)3
#math_scores.columns = ['Math Score', 'Count']
#math_scores = math_scores.loc[(math_scores["Math Score"] > 70)]
#passing_math_scores = [{"Passing Math":math_scores["Count"].sum()}]
#print(passing_math_scores)


# Reading Scores
#reading_scores = pd.DataFrame(district_data["Reading Score"].value_counts())
#reading_scores.reset_index(inplace=True)
#reading_scores.columns = ['Reading Score', 'Count']
#reading_scores = reading_scores.loc[(reading_scores["Reading Score"] > 70)]
#passing_reading_scores = [{"Passing Reading":reading_scores["Count"].sum()}]
#print(passing_reading_scores)

###########
 
# Scores Info
#students_summary = [{"Average Math":students_info_df["Math Score"].mean(),
  #               "Average Reading":students_info_df["Reading Score"].mean()}]
#students_summary

overall_avg = [(avg_reading + avg_math)/2]
overall_avg = pd.DataFrame(overall_avg)
overall_avg.columns = ["Overall Average"]
overall_avg

   Average Math Score  Average Reading Score
0           78.985371               81.87784

AttributeError: 'numpy.int64' object has no attribute 'loc'

In [235]:
district_overview = pd.concat([schools_summary, students_scores, overall_avg], axis=1)
district_overview

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Average
0,15,39170,24649428,78.985371,81.87784,80.431606

In [161]:
#school_data = school_info_df[['School Name','School Type', "Total Students", 'Total Budget']]
#school_data

              School Name School Type  Total Students  Total Budget
0       Huang High School    District            2917       1910635
1    Figueroa High School    District            2949       1884411
2     Shelton High School     Charter            1761       1056600
3   Hernandez High School    District            4635       3022020
4     Griffin High School     Charter            1468        917500
5      Wilson High School     Charter            2283       1319574
6     Cabrera High School     Charter            1858       1081356
7      Bailey High School    District            4976       3124928
8      Holden High School     Charter             427        248087
9        Pena High School     Charter             962        585858
10     Wright High School     Charter            1800       1049400
11  Rodriguez High School    District            3999       2547363
12    Johnson High School    District            4761       3094650
13       Ford High School    District            2739       1763916
14     Thomas High School     Charter            1635       1043130

In [162]:
# Schools Overview
schools_summary = [{"Total Schools":school_info_df['School Name'].count(),
                 "Total Students":school_info_df['Total Students'].sum(),
                 "Total Budget":school_info_df['Total Budget'].sum()}]
schools_summary

[{'Total Budget': 24649428, 'Total Schools': 15, 'Total Students': 39170}]

In [163]:

school_data_sum = pd.DataFrame(schools_summary)

school_data_sum = school_data_sum[['Total Schools', 'Total Students', 'Total Budget']]
school_data_sum

   Total Schools  Total Students  Total Budget
0             15           39170      24649428

In [164]:
#Get the students

students_info_path = os.path.join("Resources", "students_complete.csv")

In [165]:
#read the students df

students_df = pd.read_csv(students_info_path)
students_df.head()

#Clean Up Cols

students_info_df = students_df.rename(columns = {'name': "Student Name", 
                                              "gender": "Student Gender", 
                                              "grade": "Student Grade",
                                             'school': "School Name",
                                             'reading_score': "Reading Score",
                                             'math_score': "Math Score"})

students_info_df.head()

,Student ID,Student Name,Student Gender,Student Grade,School Name,Reading Score,Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [166]:
students_total = students_info_df["Student ID"].count()
students_total

39170

In [167]:
# District Summary Students
avg_math = students_info_df["Math Score"].mean()
avg_math

78.98537145774827

In [168]:
avg_reading = students_info_df["Reading Score"].mean()
avg_reading

81.87784018381414

In [169]:
# Scores Info
students_summary = [{"Average Math":students_info_df["Math Score"].mean(),
                 "Average Reading":students_info_df["Reading Score"].mean()}]
students_summary

[{'Average Math': 78.98537145774827, 'Average Reading': 81.87784018381414}]

In [170]:
overall_avg = [(avg_reading + avg_math)/2]
overall_avg = pd.DataFrame(overall_avg)
overall_avg

           0
0  80.431606

In [171]:
students_score_table = pd.DataFrame(students_summary)
#students_score_table = pd.concat([students_summary, overall_avg], axis=1)
#students_score_table = pd.DataFrame(students_score_table)
students_score_table

#school_ordered_df = school_data_sum[['Total Schools', 'Total Students', 'Total Budget']]
#school_ordered_df

   Average Math  Average Reading
0     78.985371         81.87784

In [172]:
# Math Scores
math_scores = pd.DataFrame(students_info_df["Math Score"].value_counts())
math_scores.reset_index(inplace=True)
math_scores.columns = ['Math Score', 'Count']
math_scores = math_scores.loc[(math_scores["Math Score"] > 70)]
passing_math_scores = [{"Passing Math":math_scores["Count"].sum()}]
print(passing_math_scores)


# Reading Scores
reading_scores = pd.DataFrame(students_info_df["Reading Score"].value_counts())
reading_scores.reset_index(inplace=True)
reading_scores.columns = ['Reading Score', 'Count']
reading_scores = reading_scores.loc[(reading_scores["Reading Score"] > 70)]
passing_reading_scores = [{"Passing Reading":reading_scores["Count"].sum()}]
print(passing_reading_scores)

[{'Passing Math': 28356}]
[{'Passing Reading': 32500}]

In [232]:
percent_passing_math = passing_math_scores[0]['Passing Math'] / students_total * 100
print(percent_passing_math)

# Calculate percentage of respondents who attended a bootcamp 
#percent_attended = amount_attended / total_surveyed * 100
#print(percent_attended)

72.3921368394

In [174]:
# District Overview Frame Part 1
district_view = pd.concat([school_ordered_df, students_score_table], axis=1)
district_view.head()

   Total Schools  Total Students  Total Budget  Average Math  Average Reading
0             15           39170      24649428     78.985371         81.87784

In [138]:
# merge the DataFrames into complete set

combined_df = pd.merge(school_info_df, students_info_df, on="School Name", how='outer')
combined_df.head()

,School ID,School Name,School Type,Total Students,Total Budget,Student ID,Student Name,Student Gender,Student Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [69]:
# Create a high level snapshot (in table form) of the district's key metrics, including:
# Total Schools
# Total Students
# Total Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two) '''

In [245]:
school_sort = combined_df.groupby(['Student Grade'])
#school_totals = school_sort['School Name'].count()
school_totals_display = pd.DataFrame(school_totals)
school_totals_display.head(15)
#schools_summary = [{"Total Schools":school_info_df['School Name'].count(),
 #                "Total Students":school_info_df['Total Students'].sum(),
  #               "Total Budget":school_info_df['Total Budget'].sum()}]
#schools_summary
#school_summary = pd.DataFrame(school_totals)
#school_summary
#print(school_totals)
#school_sort.head()

               School Name
Student Grade
10th                 10168
11th                  9695
12th                  7899
9th                  11408