In [91]:
import pandas as pd
import os
import csv

In [92]:
 # Get the  school files
school_info_path = os.path.join("Resources", "schools_complete.csv")

In [93]:
# Read the school files to a df

schools_df = pd.read_csv(school_info_path)
#schools_df.head()

#Clean Up Col Names

school_info_df = schools_df.rename(columns = {"name": "School Name", "type": "School Type", "size" : "Total Students", "budget" : "Total Budget"})
school_info_df

    School ID            School Name School Type  Total Students  Total Budget
0           0      Huang High School    District            2917       1910635
1           1   Figueroa High School    District            2949       1884411
2           2    Shelton High School     Charter            1761       1056600
3           3  Hernandez High School    District            4635       3022020
4           4    Griffin High School     Charter            1468        917500
5           5     Wilson High School     Charter            2283       1319574
6           6    Cabrera High School     Charter            1858       1081356
7           7     Bailey High School    District            4976       3124928
8           8     Holden High School     Charter             427        248087
9           9       Pena High School     Charter             962        585858
10         10     Wright High School     Charter            1800       1049400
11         11  Rodriguez High School    District            3999       2547363
12         12    Johnson High School    District            4761       3094650
13         13       Ford High School    District            2739       1763916
14         14     Thomas High School     Charter            1635       1043130

In [94]:
rel_school_data = school_info_df[['School Name', "Total Students", 'Total Budget']]
rel_school_data

              School Name  Total Students  Total Budget
0       Huang High School            2917       1910635
1    Figueroa High School            2949       1884411
2     Shelton High School            1761       1056600
3   Hernandez High School            4635       3022020
4     Griffin High School            1468        917500
5      Wilson High School            2283       1319574
6     Cabrera High School            1858       1081356
7      Bailey High School            4976       3124928
8      Holden High School             427        248087
9        Pena High School             962        585858
10     Wright High School            1800       1049400
11  Rodriguez High School            3999       2547363
12    Johnson High School            4761       3094650
13       Ford High School            2739       1763916
14     Thomas High School            1635       1043130

In [95]:
# Schools Overview
schools_summary = [{"Total Schools":school_info_df['School Name'].count(),
                 "Total Students":school_info_df['Total Students'].sum(),
                 "Total Budget":school_info_df['Total Budget'].sum()}]
schools_summary

[{'Total Budget': 24649428, 'Total Schools': 15, 'Total Students': 39170}]

In [96]:
#total_students = school_info_df['Total Students'].sum()
#total_students

In [97]:
#total_budget = school_info_df['Total Budget'].sum()
#total_budget

In [98]:
#school_summary = pd.DataFrame
#pd.DataFrame({'email':sf.index, 'list':sf.values})

school_data_sum = pd.DataFrame(schools_summary)
#school_data_sum

#school_data = pd.Series([total_schools,total_students])
#school_data
#df = df[['mean', 4,3,2,1]]

school_ordered_df = school_data_sum[['Total Schools', 'Total Students', 'Total Budget']]
school_ordered_df

   Total Schools  Total Students  Total Budget
0             15           39170      24649428

In [99]:
#Get the students

students_info_path = os.path.join("Resources", "students_complete.csv")

In [100]:
#read the students df

students_df = pd.read_csv(students_info_path)
students_df.head()

#Clean Up Cols

students_info_df = students_df.rename(columns = {'name': "Student Name", 
                                              "gender": "Student Gender", 
                                              "grade": "Student Grade",
                                             'school': "School Name",
                                             'reading_score': "Reading Score",
                                             'math_score': "Math Score"})

students_info_df.head()

,Student ID,Student Name,Student Gender,Student Grade,School Name,Reading Score,Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [101]:
students_total = students_info_df["Student ID"].count()
students_total

39170

In [102]:
# District Summary Students
avg_math = students_info_df["Math Score"].mean()
avg_math

78.98537145774827

In [103]:
avg_reading = students_info_df["Reading Score"].mean()
avg_reading

81.87784018381414

In [104]:
# Scores Info
students_summary = [{"Average Math":students_info_df["Math Score"].mean(),
                 "Average Reading":students_info_df["Reading Score"].mean()}]
students_summary

[{'Average Math': 78.98537145774827, 'Average Reading': 81.87784018381414}]

In [105]:
students_score_table = pd.DataFrame(students_summary)
students_score_table

   Average Math  Average Reading
0     78.985371         81.87784

In [111]:
math_scores = pd.DataFrame(students_info_df["Math Score"].value_counts())
#passing math_scores
math_scores.reset_index(inplace=True)
math_scores.columns = ['Math Score', 'Count']
math_scores = math_scores.loc[(math_scores["Math Score"] > 70)]
#math_scores
passing_math_scores = [{"Passing Math":math_scores["Count"].sum()}]
passing_math_scores

[{'Passing Math': 28356}]

In [112]:
percent_passing_math = (passing_math_scores/students_total) * 100
percent_passing_math

TypeError: unsupported operand type(s) for /: 'dict' and 'int'

In [67]:
# merge the DataFrames into complete set

combined_df = pd.merge(school_info_df, students_info_df, on="School Name", how='outer')
combined_df.head()

,School ID,School Name,School Type,Total Students,Total Budget,Student ID,Student Name,Student Gender,Student Grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [22]:
# Create a high level snapshot (in table form) of the district's key metrics, including:
# Total Schools
# Total Students
# Total Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two) '''