In [135]:
import pandas as pd
import os
import csv

In [136]:
 # Get the  school & student files
school_info_path = os.path.join("Resources", "schools_complete.csv")
students_info_path = os.path.join("Resources", "students_complete.csv")

In [137]:
# Read the school & students files to a df

schools_df = pd.read_csv(school_info_path)
school_info_df = schools_df.rename(columns = {"name": "School Name", 
                                              "type": "School Type", 
                                              "size" : "Total Students", 
                                              "budget" : "Total Budget"})
#school_info_df.head()

In [138]:
# Schools Summary
# Schools Overview
schools_summary = [{"Total Schools":school_info_df['School Name'].count(),
                 "Total Students":school_info_df['Total Students'].sum(),
                 "Total Budget":school_info_df['Total Budget'].sum()}]
schools_summary = pd.DataFrame(schools_summary)
schools_summary = schools_summary[['Total Schools', 'Total Students', 'Total Budget']]
#schools_summary

In [139]:
#read the students df

students_df = pd.read_csv(students_info_path)
students_info_df = students_df.rename(columns = {'name': "Student Name", 
                                              "gender": "Student Gender", 
                                              "grade": "Student Grade",
                                             'school': "School Name",
                                             'reading_score': "Reading Score",
                                             'math_score': "Math Score"})

#students_info_df.head()

In [140]:
# Combine the data
district_data = pd.merge(school_info_df, students_info_df, on="School Name", how='right')
#district_data.head()

In [141]:
district_data = district_data[['School Name','School Type', "Total Students", 'Total Budget', "Student Grade", 'Reading Score', 'Math Score']]
#district_data.head()

In [142]:
# Get Student Stats to add to schools summary table

total_students = district_data["Total Students"].count()

reading_avg = district_data["Reading Score"].mean()

math_avg = district_data["Math Score"].mean()

# Passing Reading & Math Scores - scores over 70%

passing_reading_scores = district_data.loc[district_data["Reading Score"] > 70]
passing_reading_scores = passing_reading_scores['Reading Score'].count()

passing_math_scores = district_data.loc[district_data["Math Score"] > 70]
passing_math_scores = passing_math_scores['Math Score'].count()

# Passing Averages

percent_passing_reading = passing_reading_scores / total_students * 100

percent_passing_math = passing_math_scores / total_students * 100

#Overall Averages

overall_avg = (reading_avg + math_avg)/2

In [143]:
# Get Student Stats to add to summary table

students_summary = [{"Average Math Score":math_avg,
                     "Average Reading Score": reading_avg,
                     "% Passing Reading":percent_passing_reading,
                    "% Passing Math":percent_passing_math,
                    "% Overall Passing Rate":overall_avg}]
students_summary = pd.DataFrame(students_summary, columns=['Average Math Score', 'Average Reading Score',
                                         '% Passing Reading', "% Passing Math", "% Overall Passing Rate"])
#students_summary

In [144]:
print("DISTRICT OVERVIEW")
district_overview = pd.concat([schools_summary, students_summary], axis='columns')
district_overview

DISTRICT OVERVIEW

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,82.971662,72.392137,80.431606

In [145]:
#district_data.head()

In [146]:
grouped_schools = district_data.groupby("School Name")

In [147]:
# School Numbers

school_nums = grouped_schools.mean()

grouped_df = pd.DataFrame(school_nums)
grouped_premerge = grouped_df.reset_index()
grouped_premerge

,School Name,Total Students,Total Budget,Reading Score,Math Score
0,Bailey High School,4976.0,3124928.0,81.033963,77.048432
1,Cabrera High School,1858.0,1081356.0,83.975780,83.061895
2,Figueroa High School,2949.0,1884411.0,81.158020,76.711767
3,Ford High School,2739.0,1763916.0,80.746258,77.102592
4,Griffin High School,1468.0,917500.0,83.816757,83.351499
5,Hernandez High School,4635.0,3022020.0,80.934412,77.289752
6,Holden High School,427.0,248087.0,83.814988,83.803279
7,Huang High School,2917.0,1910635.0,81.182722,76.629414
8,Johnson High School,4761.0,3094650.0,80.966394,77.072464
9,Pena High School,962.0,585858.0,84.044699,83.839917
10,Rodriguez High School,3999.0,2547363.0,80.744686,76.842711
11,Shelton High School,1761.0,1056600.0,83.725724,83.359455
12,Thomas High School,1635.0,1043130.0,83.848930,83.418349
13,Wilson High School,2283.0,1319574.0,83.989488,83.274201
14,Wright High School,1800.0,1049400.0,83.955000,83.682222

In [148]:
school_type = grouped_schools["School Type"].unique()
school_type_df = pd.DataFrame(school_type).reset_index()
school_type_df

              School Name School Type
0      Bailey High School  [District]
1     Cabrera High School   [Charter]
2    Figueroa High School  [District]
3        Ford High School  [District]
4     Griffin High School   [Charter]
5   Hernandez High School  [District]
6      Holden High School   [Charter]
7       Huang High School  [District]
8     Johnson High School  [District]
9        Pena High School   [Charter]
10  Rodriguez High School  [District]
11    Shelton High School   [Charter]
12     Thomas High School   [Charter]
13     Wilson High School   [Charter]
14     Wright High School   [Charter]

In [150]:
school_budget = grouped_schools["Total Budget"].unique()
total_students = grouped_schools["Total Students"].count()

student_budget = school_budget / total_students
student_budget_df = pd.DataFrame(student_budget).reset_index()
student_budget_df


#over_math = grouped_schools["Math Score"].mean()

#over_reading = grouped_schools["Reading Score"].mean()

#overall_avg = (over_math + over_reading) / 2
#overall_avg = pd.DataFrame(overall_avg).reset_index()
#overall_avg


#print(school_type)
#print(total_school_budget)
#print(student_budget)
#print(over_math)
#print(over_reading)
#print(overall_avg)

#calculated_stats = pd.DataFrame([overall_avg, school_type, student_budget])
#inv_calculated_stats = calculated_stats.T
#inv_calculated_stats.reset_index()

              School Name        0
0      Bailey High School  [628.0]
1     Cabrera High School  [582.0]
2    Figueroa High School  [639.0]
3        Ford High School  [644.0]
4     Griffin High School  [625.0]
5   Hernandez High School  [652.0]
6      Holden High School  [581.0]
7       Huang High School  [655.0]
8     Johnson High School  [650.0]
9        Pena High School  [609.0]
10  Rodriguez High School  [637.0]
11    Shelton High School  [600.0]
12     Thomas High School  [638.0]
13     Wilson High School  [578.0]
14     Wright High School  [583.0]

In [151]:
school_type_budget = pd.merge(school_type_df, student_budget_df, on="School Name", how="outer")
school_type_budget

              School Name School Type        0
0      Bailey High School  [District]  [628.0]
1     Cabrera High School   [Charter]  [582.0]
2    Figueroa High School  [District]  [639.0]
3        Ford High School  [District]  [644.0]
4     Griffin High School   [Charter]  [625.0]
5   Hernandez High School  [District]  [652.0]
6      Holden High School   [Charter]  [581.0]
7       Huang High School  [District]  [655.0]
8     Johnson High School  [District]  [650.0]
9        Pena High School   [Charter]  [609.0]
10  Rodriguez High School  [District]  [637.0]
11    Shelton High School   [Charter]  [600.0]
12     Thomas High School   [Charter]  [638.0]
13     Wilson High School   [Charter]  [578.0]
14     Wright High School   [Charter]  [583.0]

In [152]:
overall_avg = (over_math + over_reading) / 2
overall_avg = pd.DataFrame(overall_avg).reset_index()
overall_avg

              School Name          0
0      Bailey High School  79.041198
1     Cabrera High School  83.518837
2    Figueroa High School  78.934893
3        Ford High School  78.924425
4     Griffin High School  83.584128
5   Hernandez High School  79.112082
6      Holden High School  83.809133
7       Huang High School  78.906068
8     Johnson High School  79.019429
9        Pena High School  83.942308
10  Rodriguez High School  78.793698
11    Shelton High School  83.542589
12     Thomas High School  83.633639
13     Wilson High School  83.631844
14     Wright High School  83.818611

In [153]:
full_school_info = pd.merge(school_type_budget, overall_avg, on="School Name", how="outer")
full_school_info

              School Name School Type      0_x        0_y
0      Bailey High School  [District]  [628.0]  79.041198
1     Cabrera High School   [Charter]  [582.0]  83.518837
2    Figueroa High School  [District]  [639.0]  78.934893
3        Ford High School  [District]  [644.0]  78.924425
4     Griffin High School   [Charter]  [625.0]  83.584128
5   Hernandez High School  [District]  [652.0]  79.112082
6      Holden High School   [Charter]  [581.0]  83.809133
7       Huang High School  [District]  [655.0]  78.906068
8     Johnson High School  [District]  [650.0]  79.019429
9        Pena High School   [Charter]  [609.0]  83.942308
10  Rodriguez High School  [District]  [637.0]  78.793698
11    Shelton High School   [Charter]  [600.0]  83.542589
12     Thomas High School   [Charter]  [638.0]  83.633639
13     Wilson High School   [Charter]  [578.0]  83.631844
14     Wright High School   [Charter]  [583.0]  83.818611

In [157]:
merged_schools_data = pd.merge(grouped_premerge, full_school_info, on="School Name", how='outer')
merged_schools_data

merged_schools_data.rename(columns={'0_x': 'Budget per Student','0_y': 'Overall Average'}, inplace=True)

merged_schools_data = merged_schools_data[['School Name','School Type', 'Total Students',
                                           'Total Budget', 'Budget per Student',
                                           'Math Score', 'Reading Score', 'Overall Average']]
merged_schools_data

,School Name,School Type,Total Students,Total Budget,Budget per Student,Math Score,Reading Score,Overall Average
0,Bailey High School,[District],4976.0,3124928.0,[628.0],77.048432,81.033963,79.041198
1,Cabrera High School,[Charter],1858.0,1081356.0,[582.0],83.061895,83.975780,83.518837
2,Figueroa High School,[District],2949.0,1884411.0,[639.0],76.711767,81.158020,78.934893
3,Ford High School,[District],2739.0,1763916.0,[644.0],77.102592,80.746258,78.924425
4,Griffin High School,[Charter],1468.0,917500.0,[625.0],83.351499,83.816757,83.584128
5,Hernandez High School,[District],4635.0,3022020.0,[652.0],77.289752,80.934412,79.112082
6,Holden High School,[Charter],427.0,248087.0,[581.0],83.803279,83.814988,83.809133
7,Huang High School,[District],2917.0,1910635.0,[655.0],76.629414,81.182722,78.906068
8,Johnson High School,[District],4761.0,3094650.0,[650.0],77.072464,80.966394,79.019429
9,Pena High School,[Charter],962.0,585858.0,[609.0],83.839917,84.044699,83.942308
10,Rodriguez High School,[District],3999.0,2547363.0,[637.0],76.842711,80.744686,78.793698
11,Shelton High School,[Charter],1761.0,1056600.0,[600.0],83.359455,83.725724,83.542589
12,Thomas High School,[Charter],1635.0,1043130.0,[638.0],83.418349,83.848930,83.633639
13,Wilson High School,[Charter],2283.0,1319574.0,[578.0],83.274201,83.989488,83.631844
14,Wright High School,[Charter],1800.0,1049400.0,[583.0],83.682222,83.955000,83.818611

In [158]:
# Top Performing Schools on Overall Average

best_perf_schools = merged_schools_data.sort_values(by='Overall Average', ascending=False)
best_perf_schools.head()

,School Name,School Type,Total Students,Total Budget,Budget per Student,Math Score,Reading Score,Overall Average
9,Pena High School,[Charter],962.0,585858.0,[609.0],83.839917,84.044699,83.942308
14,Wright High School,[Charter],1800.0,1049400.0,[583.0],83.682222,83.955000,83.818611
6,Holden High School,[Charter],427.0,248087.0,[581.0],83.803279,83.814988,83.809133
12,Thomas High School,[Charter],1635.0,1043130.0,[638.0],83.418349,83.848930,83.633639
13,Wilson High School,[Charter],2283.0,1319574.0,[578.0],83.274201,83.989488,83.631844

In [159]:
# Bottom Performing Schools on Overall Average

bottom_perf_schools = merged_schools_data.sort_values(by='Overall Average', ascending=True)
bottom_perf_schools.head()

,School Name,School Type,Total Students,Total Budget,Budget per Student,Math Score,Reading Score,Overall Average
10,Rodriguez High School,[District],3999.0,2547363.0,[637.0],76.842711,80.744686,78.793698
7,Huang High School,[District],2917.0,1910635.0,[655.0],76.629414,81.182722,78.906068
3,Ford High School,[District],2739.0,1763916.0,[644.0],77.102592,80.746258,78.924425
2,Figueroa High School,[District],2949.0,1884411.0,[639.0],76.711767,81.158020,78.934893
8,Johnson High School,[District],4761.0,3094650.0,[650.0],77.072464,80.966394,79.019429

In [160]:
# Math Scores By Grade

In [174]:
grade_sort = grouped_schools
grade_sort_math = grouped_schools["Math Score"].mean()
grade_sort_math

School Name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: Math Score, dtype: float64